<!DOCTYPE html>
<html>
<title>About the App!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<style>
body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
.menu {display: none}
.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg");
    min-height: 100%;
}
</style>
<body>

<div class="w3-top w3-hide-small">
  <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
    <a href="/" class="w3-bar-item w3-button">Expenses Tracker</a>
  </div>
</div>
  
<header class="bgimg w3-display-container w3-grayscale-min" id="Home">
  <div class="w3-display-middle">
  <center><h1>About the Application</h1><center>
  <center><h4>As college students, we need to constantly keep a check on our spendings. This app makes it easier for you to track your spendings by type and month.</h4></center>
  <center><h1>Technologies used:</h1><center>
  <center><h4>Node.js, Passport.js, EJS, HTML5, CSS, Bootstrap, MongoDB, Mongoose, Heroku</h4></center>
   <center><h1>Project by:</h1><center>
  <center><h4>Lavanya Kannan and Keerthiha Arangarajan</h4></center>
</div>
</header>


</body>
</html>
