<!DOCTYPE html>
<html>
    <head>
        <title>HomePage</title>
    </head>

            <!--Heading -->
    <header>
        <h1>Expenses Tracker</h1>
        <h4> Spending too much? Having a hard time handling money? We got you! </h4>
                
    </header>

    <center><h2>Log In or Sign up to start tracking!</h2></center><br>

        <center>
        	
        	<form>
    		
    			<button type="submit" class="btn btn-primary btn-lg" formaction="/login">Log In</button>
    			<button type="submit" class="btn btn-primary btn-lg" formaction="/register">Sign Up</button>
			</form>


        	<!--form action:"/login">
	        <button class="w3-button w3-light-grey w3-section" style="background-color:Snow ; font-size: 10px ; font-family: Papyrus">Log In</button>
    	</center>

    	<center>
        	<form action:"/register">
	        <button class="w3-button w3-light-grey w3-section" style="background-color:Snow ; font-size: 10px ; font-family: Papyrus">Sign Up</button> -->
    	</center> 



        

</html>




