<!DOCTYPE html>
<html>
<title>Expenses_Tracker</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<style>
body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
.menu {display: none}
.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg");
    min-height: 100%;
}
</style>
<body>

<div class="w3-top w3-hide-small">
  <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
    <a href="/about" class="w3-bar-item w3-button">About the applicaion</a>
  </div>
</div>
  
<header class="bgimg w3-display-container w3-grayscale-min" id="Home">
  <div class="w3-display-middle">
    <center><h1 style="font-size:140px ">Expenses Tracker</h1><center>
  <form>
  <!--input type="button" class="w3-btn w3-black" formaction="/login" value="Login"-->
   

  <button type="submit" class="w3-btn w3-black" formaction="/login" >Login</button>
  <button type="submit" class="w3-btn w3-black" formaction="/register" >Sign Up</button>
</form>
</div>

</header>


</body>
</html>

