
<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
       
        
    </head>
    

<body>

<!--div class="bg"></div-->

<section class="container">
    <div class="login">
      <center><h1 style="color:white">Create an Account</h1></center>
      <br>
      <br>      
    <center>
        <form  action="/register" method= "POST">

        <input type="text" name="username" placeholder="username">
        <br>
        <br>
        <input type="password" name="password" placeholder="password">
        <br>
        <br>
        <button style="background-color:Snow ; font-size: 20px ; font-family: Papyrus">Sign up</button>

      </form>
  </center>

    </div>
  </section>

</body>
</html>


